:root{
    --first_clr:#FFEB4D;
    --second_clr:#BEC7C7;
    --third_clr:#121317;
}

.items_container{
    display: flex;
    
}

.item_container{
    display: flex;
    flex-flow: column;
    padding: 2rem;
    margin: 2rem;
    height: max-content;
    width: 12rem;
    background-color: white;
}

.item_container h2,.item_container h3{
    font-size: 2rem;
}

.item_container p {
    font-size: 1.5rem;
}

.item_container span{
    font-size: 2rem;
    font-weight: bold;
    color: var(--third_clr);
}

.item_container button{
    background-color: var(--first_clr);
    padding: 0.5rem;
    border-radius: 5px;
    font-size: 1.5rem;
    color: var(--third_clr);
}

.item_container button:hover{
    cursor: pointer;
    background-color: var(--third_clr);
    color: var(--second_clr);
}

.stock_container{
    display: flex;
    justify-content: center;
}
.stock_container .stock_qty{
    margin: 0.5rem;
    font-size: 2rem;
}
.stock_container button{
    background-color: #FFEB4D;
    padding: 0.5rem;
}
.stock_container button p{
    font-size: 2rem;
}

/*details*/

.item_detail-container{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 100vh;
    background: #BEC7C7;
    font-size: 3rem;
}
.item_detail-container img{
    width: 120px;
}
.item_detail-container h2{
    font-size: 4rem;
}
.item_detail-container h3{
    font-size: 3rem;
}
.item_detail-container span{
    width: 20rem;
}